*{
    margin: 0;
    padding:0;
}

body{
    position: relative;
    height: 200px;
}

.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.pintrest{
    color:red;
    font-size: larger;
    font-weight: bold;
    
}
ul{
    display: flex;
    align-items: center;
}
li{
    list-style: none;
    width:100px;
    justify-content: space-around;
    display: flex;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:600px;
    font-size:40px;
}


span{
    color:#c28c01;
}

.images{
    display: flex;
    justify-content: space-around;
    gap: 40px;
    justify-content: center;
    position: relative;
    bottom:200px;
    /* overflow: hidden; */
}
img{
    border-radius: 20px;
}
.two-img1{
    transform: translateY(-120px);
}
.two-img3{
    transform: translateY(120px);
}
.two-img4{
    transform: translateY(220px);
}

.two-img5{
    transform: translateY(120px);
}
.two-img7{
    transform: translateY(-120px);
}

footer{
    text-align: center;
    position: relative;
    background-color: #fffd92;
    bottom:450px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5em 5em white;
}

.button-red{
    padding:5px 0;
    border-radius:50px;
    background-color:#e60224;
    color:white;
}
.button-sliver{
    padding:5px 0;
    border-radius:50px;
    background-color:#e9e9e9;
    color:black;
}
.hidden{
    background-color: #ffffff;
    width:100%;
    height:550px;
    position: relative;
    bottom:450px;
}